.bg_img {
    background-image: url(./Images/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
}


/* ############ */
/* ## NAVBAR ## */
/* ############ */

.header {
    color: #d4b62f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}
.header_name_container {
    display: flex;
    align-items: center;
}
.logo {
    height: 6rem;
    width: 6rem;
    margin-right: 1rem;
}
.header_name {
    margin: 0;
}
.header_contact {
    text-decoration: none;
    color: #d4b62f;
}
.header_contact:hover{
    color: #d4b62f;
    text-decoration: none;
}

nav {
    background-color: transparent;
    border: 1px #d4b62f solid;
    border-left: 0px;
    border-right: 0px;
    padding:  0px !important;
}


/* Toggle Icon */
.navbar-toggler {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}
.navbar-toggler:focus {
    outline: none;
}


/* Dropdown Menu */
.dropdown-menu {
    background-color: #010b11;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
.dropdown-item{
    color: #fff;
    font-weight: 300;
}
.dropdown-item:hover {
    background-color: #01080c;
    color: #fff;
}


/* Menu Items */
.nav-item {
    padding: 0 1rem;
}
.nav-link {
    color: #d4b62f !important;
}
.active a {
    color: #fff !important;
}




/* ########## */
/* ## HERO ## */
/* ########## */

.hero_image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero_image img {
    width: 80%;
}




/* ############ */
/* ## FOOTER ## */
/* ############ */

.footer_header {
    margin: 0;
    padding: 0;
    color: #d4b62f;
}
.footer_details {
    border: 1px #d4b62f solid;
    border-left: 0px;
    border-right: 0px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}
.footer_details span {
    margin: 0rem 2rem;
    color: #d4b62f;
}
.footer_details span i {
    margin-right: 10px;
}