.comming_soon_container {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comming_soon_container h1 {
    font-size: 4rem;
    color: #02151e;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}