.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}



/* HERO IMAGE */
.hero_img_container {
    margin: 0 5rem;
}
.border_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border_container::before {
    position: absolute;
    content:'';
    top: -20px;
    border: 1px solid #fff;
    width: 103%;
    height: 100%;
}
.hero_img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    position: relative;
} 



/* WRITTEN CONTENT */
.hero_content_container {
    background-color: #000000aa;
    color: #fff;
    width: 50%;
    padding: 4rem;
    position: relative;
    top: -100px;
}
.hero_content_container h1{
    text-align: center;
}
.hero_content_container hr {
    background-color: #d4b62f;
}
.hero_content_container p {
    text-align: justify;
}



/* BODY IMAGES */
.body_img_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.body_img {
    height: 10rem;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.body_img_one {
    height: 15rem;
}
.body_border_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem 5rem 2rem;
}
.body_border_container::before {
    position: absolute;
    content:'';
    top: 10px;
    border: 1px solid #fff;
    width: 105%;
    height: 100%;
}


/* RESPONSIVENESS */
@media only screen and (max-width: 1300px) {
    /* content */
    .hero_content_container {
        width: 70%;
    }
}
@media only screen and (max-width: 768px) {
    /* img */
    .hero_img_container {
        margin: 0 2rem;
    }
    .hero_img {
        height: 25rem;
    }
    .border_container::before {
        width: 105%;
        top: -15px;
    }
    /* content */
    .hero_content_container {
        padding: 2rem;
    }
    /* body imgs */
    .body_img_container {
        flex-direction: column;
    }
}
@media only screen and (max-width: 576px) {
    /* img */
    .hero_img {
        height: 20rem;
    }
    .border_container::before {
        width: 106%;
        top: -10px;
    }
    /* content */
    .hero_content_container h1 {
        font-size: 2rem;
    }
    .hero_content_container p {
        font-size: 0.8rem;
    }
}